#!/usr/bin/make -f
%:
	dh --with-python2 $@

override_dh_fixperms:
	dh_fixperms
	chmod 755 debian/debathena-athinfod/usr/lib/athinfod/is_cluster

override_dh_auto_install:
	dh_auto_install -- --install-scripts=/sbin
